*{
    padding:10px; 
    margin: 0;
    background: rgba(0, 0, 0, 0);
    /*background: rgb(255, 255, 255);*/
    
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.801);
    margin: 0 auto;
    border: 7px solid white;
    border-color: rgba(209, 208, 208, 0.247);
    border-radius: 2em;
}

.index_body {
    background-image:url('../img/background01.jpg');
    background-repeat: no-repeat;
}

/*
[menu]
after 요소 : 가상요소 (::before도 있음)
transition으로 효과를 설정 
(a) 없음 -> (after) 0% -> (hover after)100% -> (after) 0% -> (a) 없음
*/
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(192, 184, 184);
}

.menu a {
    font-size: 40px;
    font-weight: bold;
    color : rgba(246, 218, 253, 0.751);
    text-shadow: 2px 2px 2px rgb(209, 172, 172);
    text-decoration: none;
    position: relative;
    padding: 6px 6px;
    background-color: rgba(0, 0, 0, 0);
}

.logoA {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 6px 12px;
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 10px;
    background: #9c2626;
    transition: all .5s ease-out;
}

.menu a:hover::after {
    width: 100%;
}

.area {
    height: 80%;
    margin: 20px;
    border: 3px solid white;
    border-color: rgba(209, 208, 208, 0.247);
    border-radius: 2em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.445);
}

.area_area {
    padding: 10px;
}

.area_area img {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 400px;
}

.area_area h2{
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    text-align: left;
    margin-top: 20px;
}

.area_area p{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: right;
    margin-top: 20px;
}

.hrefimg {
    width: 100px;
    height: 100px;
}

footer {
    height: 100px;
}

.footer_area {
    margin: 10px;
    border: 3px solid white;
    border-color: rgba(209, 208, 208, 0.247);
    border-radius: 2em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.445);
}
