html, body {
	height: 100%;
}
 
.wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.button {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
  
.button:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

.modify_frame {
    height: 80%;
	width: 80%;
    margin: 20px;
    border: 3px solid white;
    border-color: #fff;
    border-radius: 2em;
    color: #fff;
	display: inline;
}

.button_logout {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
  
.button_logout:hover {
	background-color: #9b3d3d;
	box-shadow: 0px 15px 20px rgba(229, 67, 46, 0.4);
	color: #fff;
	transform: translateY(-7px);
}


.button_change {
	width: 140px;
	height: 45px;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}
  
.button_change:hover {
	background-color: #7399d1;
	box-shadow: 0px 15px 20px rgba(46, 95, 229, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

